* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 95%);
}
main {
  width: 50%;
  margin: auto;
}
main .cars {
  width: 100%;
<<<<<<< HEAD
  /* height: 100vh; */
=======
>>>>>>> 83082ba54a3d03439587682914be8b5e190ce345
  display: flex;
  align-items: center;
}

main > .cars > div {
  padding: 20px;
}
#sedans {
  background-color: hsl(31, 77%, 52%);
  width: 33.3%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#suvs {
  background-color: hsl(184, 100%, 22%);
  width: 33.3%;
}

#luxury {
  background-color: hsl(179, 100%, 13%);
  width: 33.3%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

img {
  width: 60px;
}

h3 {
  color: hsl(0, 0%, 95%);
  padding: 10px;
  padding-left: 0;
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 30px;
}

p {
  font-size: 15px;
  color: hsla(0, 0%, 100%, 0.75);
  margin: 10px;
  margin-left: 0;
  padding: 10px;
  padding-left: 0;
  font-family: "Lexen Deca", sans-serif;
}

button {
  background-color: hsl(0, 0%, 95%);
  width: 100px;
  margin-top: 40px;
  margin-left: 0;
  padding: 10px;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
}

button:active {
  border: 2px solid hsl(0, 0%, 95%);
}

#sedans button {
  color: hsl(31, 77%, 52%);
}

#sedans button:active {
  background-color: hsl(31, 77%, 52%);
  color: hsl(0, 0%, 95%);
}

#suvs button {
  color: hsl(184, 100%, 22%);
}

#suvs button:active {
  background-color: hsl(184, 100%, 22%);
  color: hsl(0, 0%, 95%);
}

#luxury button {
  color: hsl(179, 100%, 13%);
}

#luxury button:active {
  background-color: hsl(179, 100%, 13%);
  color: hsl(0, 0%, 95%);
}

/* navbar styling */
nav {
  width: 100%;
  background-color: hsl(179, 100%, 13%);
  padding: 15px;
  justify-content: space-evenly;
}

nav a {
  font-size: 20px;
  text-decoration: none;
  background-color: hsl(31, 77%, 52%);
  padding: 10px;
  color: hsl(184, 100%, 22%);
}

nav a:hover {
  background-color: hsl(184, 100%, 22%);
  color: hsl(31, 77%, 52%);
}

/* media for phone */
@media screen and (max-width: 500px) and (min-width: 200px) {
  main .cars {
    margin-top: 30px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav {
    padding: 8px;
  }
  h3 {
    font-size: 15px;
  }
  p {
    font-size: 15px;
  }
  button {
    width: 70px;
  }
  nav a {
    padding: 5px;
    font-size: 10px;
  }
  #sedans,
  #suvs,
  #luxury {
    width: 100%;
  }
  #sedans {
    border-bottom-left-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  #luxury {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
  }
}
@media screen and (min-width: 500px) and (max-width: 879px) {
  main .cars {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav {
    padding: 20px;
  }

  nav a {
    padding: 10px;
    font-size: 20px;
  }
  h3 {
    font-size: 25px;
  }

  p {
    font-size: 15px;
  }

  button {
    width: 100px;
  }

  #sedans,
  #suvs,
  #luxury {
    width: 100%;
  }

  #sedans {
    border-bottom-left-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  #luxury {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
  }
}
@media screen and (min-width: 880px) and (max-width: 1000px) {
  main .cars {
    width: 60vw;
    height: 100vh;
  }

  main > .cars > div {
    padding: 15.5px;
  }

  nav {
    padding: 20px;
  }

  nav a {
    padding: 10px;
    font-size: 20px;
  }

  h3 {
    font-size: 20px;
  }

  button {
    width: 90px;
  }
}

@media screen and (min-width:1000px) {
 main .cars {
   width: 100%;
   height: 100vh;
  }
 
  main>.cars>div {
   padding: 17.5px;
  }
}
